body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 1000;   
}

.overlay {
    background: rgba(49, 49, 49, 0.8);
}
.modal-content2 {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 400px;
    min-width: 600px;
    /*max-width: 80%; /* Adjust the width percentage based on your preference */
    /*min-width: 300px; /* Set a minimum width if needed */
    /*overflow-y: auto; /* Make content scrollable if it exceeds viewport height */
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}

.postImgModalv2{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 80%; /* Adjust the width percentage based on your preference */
    max-width: 100%; /* Set maximum width to ensure responsiveness */
    max-height: 70vh; /* Set maximum height to 80% of the viewport height */
    object-fit: contain;

}



.wrapper{
    margin-top: 22%;
    position: relative;
    z-index: 1001;
    /*position: fixed;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;*/
}

.postUsername{
    font-size: 15px;
    font-weight: 500;
    margin: 0 10px;
}

.postTopLeft{
    display: flex;
    align-items: center;
}

.postProfileImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.postDate{
    font-size: 12px;
}

.postTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.modinfowrap{
    justify-content: space-between;
    display: flex;
}

.pricediv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.locationdiv{
    overflow: scroll;
    text-overflow:ellipsis;
    white-space: nowrap;
    margin-left: 8px; /* Adjust the margin as needed */
}